/* Base button */
.lhs_button {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
    border: none;
    cursor: pointer;
    color: white;
    padding: 12px;
    border-radius: 8px;
    background-color: #06529736;
    text-align: left;
    font-weight: bold;
    width: 98%;
    margin-bottom: 12px;
    transition: background-color 0.3s, box-shadow 0.3s;
    height: 2.7rem;
}

/* Hover (when not active) */
.lhs_button:hover {
    background-color: #4a8fd0;
    /* slightly darker */
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

/* Active (current page) */
.lhs_button.active {
    background-color: #2e86de;
}

.logoutbutton {
    position: sticky;
    bottom: 0;
    background: inherit;
    padding: 10px;
    /* border-top: 1px solid #e0e0e0; */
    margin-top: auto;
}

.logout-btn {
    border: none;
    cursor: pointer;
    color: white;
    padding: 10px;
    width: 100%;
    border-radius: 8px;
    background-color: #e74c3c;
    text-align: center;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    transition: background-color 0.3s ease;
}

.logout-btn:hover {
    background-color: #c0392b;
    /* color: #333; */

    /* darker red on hover */
}

.sidebar {
    width: 18%;
    background: linear-gradient(180deg, #1e476c 0%, #006d77 100%);
    color: white;
    display: flex;
    flex-direction: column;
    padding: 0 20px 20px 20px;
    box-shadow: 2px 0 8px rgba(0, 0, 0, 0.3);
    height: 100vh;
    position: sticky;
    top: 0;
    /* background: #fff; */
}

.sidebar-content {
    display: flex;
    flex-direction: column;
    height: 100%;
    position: relative;
}

.menubar {
    flex: 1;
    overflow-y: auto;
    /* Hide scrollbar for all browsers */
    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;
    /* IE and Edge */
}

.menulist-sticky {
    position: sticky;
    top: 0;
    background: inherit;
    z-index: 10;
    /* padding: 16px; */
    /* Add any background color you want */
    /* background: #fff; */
    /* Match your sidebar background */
}

.menubar::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari and Opera */
}

.mdn-logo {
    display: block;
    margin: 23px auto 0px;
    width: 3.6rem;
    height: 3.5rem;
    border-radius: 11px;
}

.lhs-icons {
    margin-right: 8px;
    font-size: 20px;
}